{# Load CSS #}
{% includeCssFile "/css/pages/about.css" %}


{% extends "_layout" %}

{% block content %}

{% include "components/header" with { "clear" : false, "active" : "about" } %}


<section class="overview title"
    style="background-image: url('{{entry.posterImage.one().getUrl()}}')"
>
    <h4>{{entry.headline}}</h4>
    <h1>{{entry.title}}</h1>
    {{entry.body}}
</section>

{% for section in entry.sections.all() %}

    <section class="content-section {{section.justify}}">

        {% if section.photo is defined and section.photo is not empty %}
            <img src="{{section.photo.one().getUrl()}}">
        {% endif %}

        <div class="copy">
            <h4>{{section.subhead}}</h4>
            <h2>{{section.headline}}</h2>
            {{section.body}}
        </div>
        {# <img src="/lib/assets/photos/jd.jpg"> #}


    </section>

{% endfor %}


<section class="section-header">
    <a href="http://instagram.com/{{social.instagramHandle}}"><img src="/lib/img/logo-ig.svg" class="logo"></a>
    <a href="http://instagram.com/{{social.instagramHandle}}"><h3>Follow On Instagram</h3></a>
</section>

<section class="ig-feed">

    {% set igParams = {
            url: 'https://api.instagram.com/v1/users/self/media/recent/?access_token=' ~ social.instagramApiKey,
            type: 'json',
            element: 'data',
            cache: 60
        } %}
        {% set igFeed = craft.feedme.feed(igParams) %}


        {% for i, item in igFeed %}
            {% if i < 12 %}

                {% set imgUrl = item.images.standard_resolution.url %}
                {% set postLink = item.link %}

                    <a href="{{postLink}}" target="_new" class="ig-post">
                        {% if imgUrl is defined and imgUrl is not empty %}
                                <div class="post-holder"><img src="{{imgUrl}}"></div>
                        {% endif %}
                    </a>
            {% endif %}

        {% endfor %}

        <section class="button">
            <a href="http://instagram.com/{{social.instagramHandle}}"><button class="secondary">Follow</button></a>
        </section>


</section>





{% includeJsFile "/js/vendors/jquery/jquery-3.1.0.min.js" %}
{% includeJsFile "/js/main.js" %}

{% endblock %}
