section.overview {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-sizing: border-box;
    padding: calc(6em + 5vw) 5%;
    min-height: calc(var(--vh, 1vh) * 60);;
    width: 100%;

    background-position: center center;
    background-size: cover;
    h1 {
        font-size: calc(4em + 1vw);
    }
    p {
        max-width: 750px;
        margin-bottom: 0;
    }
    .subnav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &.condensed {
        padding: 4em 5% 2em 5%;
        min-height: 0;
        align-items: flex-start;
    }
    &.hero {
        padding: 0 5%;
        height: calc(90vh - 6em);
        min-height: 40em;
        img.bg {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .copy {
            z-index:1;
            box-sizing: border-box;
            max-width: 750px;
            border-radius: 3px;
            h4 { display: inline; }
            a { margin-top: 1em; }

            &.left { align-self: flex-start; text-align: left; }
            &.center { align-self: center; text-align: center; }
            &.right { align-self: flex-end; text-align: right; }

            &.bg-1 { background: rgba(0, 0, 0, 0.81); padding: 3%; }

        }
    }
}
