section.services {
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding:5%;
    border-radius: 2px;
    background-size: cover;
    &.section {
        background: $background-highlight;
        padding-bottom: 10em;
    }
    .service {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: calc(3em + 5%) 0;
        box-sizing: border-box;
        &:not(:last-child) {
            border-bottom:1px solid rgba(255,255,255,0.05);
        }
        .icon {
            width:30%;
            max-width: 125px;
            // margin-bottom: 3em;
        }
        h4 { margin-bottom: 1em; }
        h4, h3, p { text-align: left; }
    }
    @media screen and (min-width: $break-large) {
        flex-direction:row;
        .service {
            width: calc(33.33% - 0.5em);
            padding: 5%;
            margin-right: 0.75em;
            border-bottom:none;
            &:not(:last-child) {
                border-right:1px solid rgba(255,255,255,0.05);
                border-bottom:0;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }

    }
}
