@import "../base/variables";
@import "../base/core";

div.modal-gallery {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    z-index:1000;
    background: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($background, 0.7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    opacity:0;
    pointer-events: none;

    transition: opacity 0.3s cubic-bezier(0.8, 0, 0.2, 1);

    svg.close {
        position: absolute;
        top: 2em;
        right: 2em;
        fill: $foreground;
        z-index:1250;
        &:hover {
            cursor: pointer;
            opacity:0.8;
        }
    }
    .closer-capture {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        opacity: 0;
        transform: translateY(1.5em);
        transition: opacity 0.75s cubic-bezier(0.7, 0, 0.3, 1), transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
        pointer-events:none;
        h2, .details {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            text-align: center;
            padding: 2em 0;
            color: $foreground;
            height: 5vh;
            .vid-title { margin-bottom: 1em; }
            .count {
                margin-bottom: 2em;
                span { margin: 0 0.5em;}
            }
        }
        .carousel {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            top:0;
            left: 0;
            width: 100%;
            height: calc(var(--vh, 1vh) * 100);
            img {
                width: 90%;
                max-width: 1200px;
                max-height: 80vh;
                object-fit:contain;
                border-radius: 3px;
                position: absolute;
                transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
                pointer-events:none;
                &.prev, &.next {
                    filter: brightness(0.25);
                }
            }
            .carousel-nav {
                position: absolute;
                width:90%;
                max-width: 1200px;
                bottom: 0;
                padding: 2em 0;
                height: 5vh;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                .nav-trigger {
                    display: flex;
                    align-items: center;
                    color: $foreground;
                    opacity:0;
                    pointer-events: none;
                    transition: opacity 0.1s;
                    user-select: none;
                    -webkit-user-select: none;
                    &.n { justify-content: flex-end; }
                    &.p { justify-content: flex-start; }
                    svg {
                        stroke: $foreground;
                        fill: $foreground;
                        width: 34px;
                        height: 34px;
                    }
                    &.active {
                        opacity: 1;
                        pointer-events: all;
                    }
                    &:hover {
                        cursor:pointer;
                    }
                }
            }
            
        }
    }

    &.enabled {
        opacity: 1;
        pointer-events: all;
        .modal-body {
            opacity: 1;
            transform: translateY(0);
            .carousel {
                img { pointer-events: none; }
            }
        }
    }
}
