{# Load CSS #}
{% includeCssFile "/css/pages/services.css" %}


{% extends "_layout" %}

{% block content %}

{% include "components/header" with { "clear" : false, "active" : "services" } %}

<section class="overview title"
    style="background-image: url('{{entry.posterImage.one().getUrl()}}')"
>
    <h4>{{entry.headline}}</h4>
    <h1>{{entry.title}}</h1>
    {{entry.body}}
</section>


<section class="services section">

    <ul class="list">
        {% set categories = craft.categories().group('workCategories').all() %}
        {% for category in categories %}
        <li class="service">
            <div class="title">
                <img src="lib/img/icon-{{category.slug}}.svg" class="icon" />
                <h3>{{category.title}}</h3>
            </div>
            {{category.body}}
            <!-- <a href="/work/{{category.slug}}" class="primary">View {{category.title}} Work</a> -->
            <a href="/work/{{category.slug}}"><button class="secondary">View {{category.title}} Work</button></a>
        </li>
        {% endfor %}
    </ul>


</section>



{% includeJsFile "/js/vendors/jquery/jquery-3.1.0.min.js" %}
{% includeJsFile "/js/main.js" %}

{% endblock %}
