{# Load CSS #}
{% includeCssFile "/css/pages/services.css" %}
{% includeJsFile "/js/vendors/jquery/jquery-3.1.0.min.js" %}


{% extends "_layout" %}

{% block content %}

{% include "components/header" with { "clear" : false, "active" : "services" } %}



<section class="intro first">
    <h4>{{entry.headline}}</h4>
    <h1>{{entry.title}}</h1>
    {{entry.body}}
</section>


<section class="services section">

    {% set categories = craft.categories().group('workCategories').all() %}
    {% for category in categories %}
        <div class="service">
            <img src="lib/img/icon-{{category.slug}}.svg" class="icon" />
            {# <h4>{{category.headline}}</h4> #}
            {# <div class="sep primary"></div> #}
            <h3>{{category.title}}</h3>
            {{category.body}}
            <a href="/work/{{category.slug}}"><button class="secondary">View {{category.title}} Work</button></a>
        </div>
    {% endfor %}


    <section class="cta">

        <p class="lead">{{callToAction.headline}}</p>
        {% for button in callToAction.buttons %}
            <a href="{{button.buttonLink}}"><button class="{{button.style}}">{{button.label}}</button></a>
        {% endfor %}

    </section>

</section>



{% includeJsFile "/js/main.js" %}

{% endblock %}
