@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans@1&display=swap");
@-ms-viewport {
  width: device-width;
}
html, body {
  background: #070707;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}
html.no-scroll, body.no-scroll {
  overflow: hidden;
}

.hero-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

pre {
  color: white;
}

ul {
  margin: 0;
  list-style-type: none;
}

ul li {
  margin-left: 0px;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: white;
  transition: color 0.3s;
}
a.primary:after {
  position: absolute;
  bottom: -0.4em;
  left: 5%;
  width: 90%;
  height: 1px;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  transition: 0.2s ease-in-out;
}
a:hover {
  color: #35eec6;
}
a:hover.primary:after {
  left: 0;
  width: 100%;
  bottom: -0.2em;
  background: #35eec6;
}

p {
  color: white;
  margin-bottom: 2em;
}
p.caption {
  font-size: 0.7em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}
p.caption.date {
  color: #35eec6;
  margin-bottom: 0.5em;
}
p.lead {
  font-size: 1.4em;
}

h1, h2, h3, h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 0.8em;
  line-height: 3em;
  text-transform: uppercase;
  color: #35eec6;
  font-weight: 500;
}

h5 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #53565e;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: flex;
  padding: 1.25em 1.5em;
  border: none;
  outline: none;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
button svg {
  margin: -1px 0 0 0.5em;
}
button:hover {
  cursor: pointer;
}
button.primary {
  transition: box-shadow 0.6s, transform 0.6s;
  border: 1px solid #35eec6;
  background: #35eec6;
  color: #070707;
  box-shadow: none;
}
button.primary:hover {
  border: 1px solid white;
  color: #070707;
  background: white;
  box-shadow: 0 10px 35px rgba(53, 238, 198, 0.3);
  transform: translateY(-1px);
}
button.secondary {
  transition: box-shadow 0.6s, transform 0.6s;
  border: 1px solid white;
  background: none;
  color: white;
  fill: white;
  box-shadow: none;
}
button.secondary:hover {
  border: 1px solid #35eec6;
  color: #070707;
  fill: #070707;
  background: #35eec6;
  box-shadow: 0 10px 35px rgba(53, 238, 198, 0.3);
  transform: translateY(-1px);
}
button.text {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0em;
  text-transform: none;
  color: white;
  transition: color 0.3s;
  position: relative;
  background: none;
  padding: 0;
}
button.text:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 6px;
  right: -12px;
  transform: rotate(-45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transition: border 0.3s, right 0.3s;
}
button.text:hover {
  color: #35eec6;
}
button.text:hover:after {
  right: -15px;
  border-right: 2px solid #35eec6;
  border-bottom: 2px solid #35eec6;
}

.sep {
  display: block;
  position: relative;
  height: 1px;
  width: 50px;
  background: white;
  margin: 2em 0;
}
.sep.primary {
  background: #35eec6;
}

.breadcrumb {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: calc(4em + 5vw) 5% 0 5%;
  list-style: none;
}
.breadcrumb a {
  display: inline-block;
  list-style: none;
  padding: 1em 1.5em 1em 0;
  margin-bottom: 2px;
}
.breadcrumb a svg {
  margin-right: 0.75em;
  stroke: white;
}

section.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 100%;
}

.scroll-indicator {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6em;
  justify-content: center;
  align-items: center;
  animation-name: scrollBounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: 9999;
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .scroll-indicator {
    display: none;
  }
}

@keyframes scrollBounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: calc(4em + 5vw);
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  padding: 0 5%;
  pointer-events: none;
}
header .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #070707;
  z-index: -2;
  opacity: 0;
  pointer-events: none;
}
header a {
  pointer-events: all;
}
header .logo {
  height: calc(1em + 5vw);
  max-height: 3em;
}
header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #070707;
  z-index: -1;
  padding: 4em 5%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5em;
  line-height: 2em;
}
header .nav .contact {
  font-size: 0.75em;
  margin-top: 1em;
}
header .nav.open {
  display: flex;
}
@media screen and (min-width: 960px) {
  header .nav {
    display: flex;
    position: relative;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: none;
  }
  header .nav a:not(.contact) {
    position: relative;
  }
  header .nav a:not(.contact):after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -10px;
    width: 0%;
    height: 1px;
    background: #35eec6;
    transition: left 0.3s, width 0.3s, background 0.3s;
  }
  header .nav a:not(.contact):hover:after {
    left: 20%;
    width: 60%;
  }
  header .nav a:not(.contact).active:after {
    position: absolute;
    content: "";
    left: 20%;
    bottom: -10px;
    width: 60%;
    height: 1px;
    background: white;
  }
  header .nav a:not(.contact).active:hover:after {
    background: #35eec6;
  }
  header .nav a:not(.contact):not(:last-child) {
    margin-right: 1.5em;
  }
  header .nav .contact {
    font-size: 1em;
    margin-top: 0;
  }
}
header .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 30px;
  height: 30px;
  margin: 0.72em 0;
  transition: opacity 0.3s;
  order: 10;
  pointer-events: all;
}
header .menu .line {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: transform 0.1s cubic-bezier(0.46, 0, 0.34, 1), background 0.1s cubic-bezier(0.46, 0, 0.34, 1);
}
header .menu.open .line {
  background: white;
}
header .menu.open .line.top {
  transform: rotate(45deg) translate(7px, 7px);
}
header .menu.open .line.bottom {
  transform: rotate(-45deg) translate(7px, -7px);
}
header .menu.open .line.middle {
  transform: scaleX(0);
}
header .menu:hover {
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  header .menu {
    display: none;
  }
}

.header-spacer {
  position: relative;
  display: block;
  width: 100%;
  height: 6em;
}

footer {
  display: flex;
  width: 100%;
  background: #070707;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: calc(3em + 3vw) 5%;
  box-sizing: border-box;
}
footer .cta {
  width: 100%;
  align-self: center;
  margin-bottom: 2em;
}
footer .cta h2 {
  margin-bottom: 0.5em;
}
footer .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2em;
}
footer .contact {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
}
footer .contact .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  opacity: 0.7;
  transition: opacity 0.2s;
}
footer .contact .item img {
  height: 1em;
  margin-right: 1em;
}
footer .contact .item a:hover {
  color: white;
}
footer .contact .item:hover:not(.no-hover) {
  opacity: 1;
}
footer .contact .item.primary {
  width: 100%;
}
footer .contact .branding {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding-top: 2em;
}
footer .contact .branding img {
  height: 2em;
}
@media screen and (min-width: 960px) {
  footer .contact .item {
    margin-bottom: 0;
  }
  footer .contact .item.primary {
    width: auto;
    margin-right: 3em;
  }
  footer .contact .branding {
    padding-top: 0;
    width: auto;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 640px) {
  footer {
    align-items: center;
  }
  footer .cta {
    text-align: center;
    width: auto;
  }
  footer .contact {
    width: auto;
    justify-content: center;
  }
  footer .contact .item.primary {
    justify-content: center;
  }
  footer .contact .branding {
    justify-content: center;
  }
  footer .nav {
    width: auto;
    align-self: center;
    flex-direction: row;
  }
  footer .nav a {
    margin: 0 2vw;
  }
}
@media screen and (min-width: 960px) {
  footer {
    flex-direction: row;
  }
  footer .cta {
    text-align: left;
    margin-bottom: 0;
  }
  footer .contact {
    width: 100%;
    justify-content: flex-start;
  }
  footer .contact .item.primary {
    justify-content: flex-start;
  }
  footer .contact .branding {
    justify-content: flex-end;
  }
  footer .nav {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
  footer .nav a {
    margin: 0;
  }
}

section.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 5em;
  padding: 0 5%;
  background: #070707;
}
section.intro.first {
  margin-top: calc(6.4em + 10vw);
}
section.intro h4 {
  margin-bottom: 1em;
}
section.intro p {
  max-width: 700px;
}

section.overview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: calc(6em + 5vw) 5%;
  min-height: calc(var(--vh, 1vh) * 60);
  width: 100%;
  background-position: center center;
  background-size: cover;
}
section.overview h1 {
  font-size: calc(4em + 1vw);
}
section.overview p {
  max-width: 750px;
  margin-bottom: 0;
}
section.overview .subnav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
section.overview.condensed {
  padding: 4em 5% 2em 5%;
  min-height: 0;
  align-items: flex-start;
}
section.overview.hero {
  padding: 0 5%;
  height: calc(90vh - 6em);
  min-height: 40em;
}
section.overview.hero img.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.overview.hero .copy {
  z-index: 1;
  box-sizing: border-box;
  max-width: 750px;
  border-radius: 3px;
}
section.overview.hero .copy h4 {
  display: inline;
}
section.overview.hero .copy a {
  margin-top: 1em;
}
section.overview.hero .copy.left {
  align-self: flex-start;
  text-align: left;
}
section.overview.hero .copy.center {
  align-self: center;
  text-align: center;
}
section.overview.hero .copy.right {
  align-self: flex-end;
  text-align: right;
}
section.overview.hero .copy.bg-1 {
  background: rgba(0, 0, 0, 0.81);
  padding: 3%;
}

@-ms-viewport {
  width: device-width;
}
section.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5%;
  background-image: linear-gradient(#070707, #17181a);
}
section.cards.services {
  align-items: stretch;
  width: 96%;
  background: url("../lib/img/mcm-radio-bg.jpg") center center;
  background-size: cover;
  padding: 0;
  margin: 0 2%;
  border-radius: 2px;
}
section.cards .card {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #232428;
  background: #070707;
  transition: transform 1s, box-shadow 1s;
  overflow: hidden;
}
section.cards .card img {
  position: relative;
  width: calc(100% + 4em + 1px);
  height: 60%;
  object-fit: cover;
  margin: -2em 0 1em -2em;
}
section.cards .card h4, section.cards .card p {
  text-align: left;
}
section.cards .card:hover {
  border: 1px solid #3b3d43;
  background: #17181a;
  transform: translateY(-2px);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
section.cards .card:hover button {
  color: #35eec6;
}
section.cards .card:hover button:after {
  right: -15px;
  border-right: 2px solid #35eec6;
  border-bottom: 2px solid #35eec6;
}
section.cards .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: calc(3em + 5vw) 5%;
  box-sizing: border-box;
}
section.cards .service:not(:last-child) {
  border-bottom: 1em solid #070707;
}
section.cards .service .icon {
  width: 20%;
  max-width: 200px;
  margin-bottom: 3em;
}
section.cards.solo {
  padding-top: 3em;
  padding-bottom: 3em;
}
@media screen and (min-width: 960px) {
  section.cards {
    flex-direction: row;
  }
  section.cards .card, section.cards .service {
    width: calc(33.33% - 0.5em);
    margin-right: 0.75em;
  }
  section.cards .card:nth-child(3n+3), section.cards .service:nth-child(3n+3) {
    margin-right: 0;
  }
  section.cards .service {
    text-align: center;
  }
  section.cards .service:not(:last-child) {
    border-right: 1em solid #070707;
    border-bottom: 0;
  }
}

section.services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: calc(4em + 10vw) 5%;
  border-radius: 2px;
  background-size: cover;
}
section.services .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
section.services .overview {
  width: 100%;
  max-width: 700px;
  margin-bottom: 3em;
}
section.services .overview h2 {
  font-size: calc(4em + 1vw);
}
section.services .list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-left: 10%;
}
section.services .list .service {
  width: 100%;
  max-width: 500px;
  padding: 2em 0;
  color: white;
  opacity: 0.5;
  transition: opacity 0.2s;
  flex-direction: column;
}
section.services .list .service .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
section.services .list .service .title img {
  width: 3.5em;
  margin: 0 2em 0 0;
}
section.services .list .service p {
  max-width: 500px;
  padding-right: 5vw;
}
section.services .list .service:hover {
  opacity: 1;
}
section.services .ctas {
  font-size: 1.25em;
  line-height: 1em;
  margin-top: 0.75em;
}
section.services .ctas a:first-child {
  margin-right: 1.5em;
}
section.services.section {
  background-image: linear-gradient(#070707, #17181a);
  padding: 10em 5%;
}
section.services.section .list {
  margin-left: 0;
}
section.services.section .list .service {
  width: 100%;
  max-width: none;
  margin-bottom: 6em;
  opacity: 1;
}
section.services.section .list .service p {
  max-width: none;
}
@media screen and (min-width: 960px) {
  section.services {
    flex-direction: row;
  }
  section.services .list {
    justify-content: center;
  }
  section.services.section .list .service {
    width: 50%;
    max-width: 900px;
  }
  section.services.section .list .service:last-child {
    margin-right: auto;
  }
}

.grid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2em calc(5% - 1em);
  width: 100%;
  box-sizing: border-box;
}
.grid .poster {
  position: relative;
  width: calc(100% - 2em);
  margin: 0 1em 1em 1em;
}
@media screen and (min-width: 960px) {
  .grid .poster {
    width: calc(50% - 2em);
    margin-bottom: 2em;
  }
}
.grid .poster img {
  width: 100%;
  margin: 0;
  transition: opacity 0.3s;
  border-radius: 2px;
}
.grid .poster .work-piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.grid .poster .work-piece h2 {
  margin-bottom: 1em;
  width: 90%;
  text-align: center;
}
.grid .poster .work-piece h2, .grid .poster .work-piece button {
  transform: translateY(0.25em);
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.grid .poster:hover img {
  opacity: 0.2;
}
.grid .poster:hover .work-piece {
  opacity: 1;
}
.grid .poster:hover .work-piece h2, .grid .poster:hover .work-piece button {
  transform: translateY(0);
}
.grid .video {
  position: relative;
  width: calc(100% - 2em);
  margin: 0 1em 1em 1em;
  height: 0;
  padding-bottom: calc(56.25% - 1.1em);
  background: black;
}
@media screen and (min-width: 960px) {
  .grid .video {
    width: calc(50% - 2em);
    padding-bottom: calc(28.125% - 1.1em);
    margin-bottom: 2em;
  }
}
.grid .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid .card {
  width: 100%;
  margin: 1em;
}
@media screen and (min-width: 960px) {
  .grid .card {
    width: calc(50% - 2em);
  }
}
@media screen and (min-width: 1200px) {
  .grid .card {
    width: calc(33.33% - 2em);
  }
}
.grid .card img.cover {
  position: relative;
  width: 100%;
  height: 10em;
  object-fit: cover;
}
.grid .card .copy {
  padding: calc(2em + 2vw);
}

@-ms-viewport {
  width: device-width;
}
.subnav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #17181a;
  padding: 0;
}
.subnav .subnav-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #070707;
  opacity: 0;
}
.subnav .tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  padding: 0 5%;
}
.subnav .tabs .tab {
  display: inline-block;
  list-style: none;
  padding: 1.5em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
}
.subnav .tabs .tab.active {
  border-bottom: 2px solid #35eec6;
}
@media screen and (max-width: 640px) {
  .subnav .tabs {
    overflow-x: scroll;
  }
}

/*# sourceMappingURL=app.css.map */
