{# Load CSS #}
{% do view.registerCssFile("/css/pages/news.css") %}

{% extends "_layout" %}

{% block content %}

{% include "components/header" with { "clear" : false, "active" : "the split" } %}



{% if entry.featuredPost is defined and entry.featuredPost is not empty %}


    {% set featured = entry.featuredPost.one() %}

    {% if featured.heroBanner is defined and featured.heroBanner is not empty %}
        {% set banner = featured.heroBanner.one() %}
    {% else %}
        {% set banner = featured.posterImage.one() %}
    {% endif %}


    <section class="overview hero">
        <img src="{{banner.getUrl()}}" class="bg">
        <div class="copy {{entry.align}} bg-{{entry.background}}">
            {# <h4>{{entry.title}}</h4> #}
            <h2>{{featured.title}}</h2>
            {{featured.body}}
            <a href="{{featured.getUrl()}}"><button class="primary">Read More</button></a />
        </div>
    </section>

{% endif %}

<section class="cards solo">

    {% set articles = craft.entries().section('newsFeed').all() %}
    {% for article in articles %}

    {% if entry.featuredPost is defined and entry.featuredPost is not empty %}
        {% set featurecheck = featured.slug  %}
    {% else %}
        {% set featurecheck = null %}    
    {% endif %}

    {% if article.slug != featurecheck %}
        {% set coverImage = article.posterImage.one() %}
        <a href="{{article.getUrl()}}" class="card">
            {% if coverImage is defined and coverImage is not null %}
            <img src="{{coverImage.getUrl()}}" />
            {% endif %}
            <p class="caption date">{{article.postDate|date("F d, Y")}}</p>
            <h3>{{article.title}}</h3>
            <p>{{article.body}}</p>
            <button class="text">Read More</button>
        </a>
     {% else %}   
    {% endif %}

    {% endfor %}

</section>


{% includeJsFile "/js/vendors/jquery/jquery-3.1.0.min.js" %}
{% includeJsFile "/js/main.js" %}

{% endblock %}