@import "./base/variables";
@import "./base/core";


section.content-section {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .copy, img {
        width: 100%;
        max-width: 700px;
        box-sizing: border-box;
        margin-bottom: 2em;
        h4 { margin-bottom: 1em; }
    }
    @media screen and (min-width: $break-large) {
        .copy, img { width: 50%; }
        &.left {
            flex-direction: row-reverse;
            .copy { padding-right: 5%; }
        }
        &.right {
            flex-direction: row;
            .copy { padding-left: 5%; }
        }
    }
}

section.section-header {
    margin: 5% 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    a {
        display: flex;
        margin-right: 1em;
    }
    img {
        width: 20px;
        height: 20px;
    }
    h3 { font-size: 0.9em; }
}

section.ig-feed {
    // background: $background-highlight;
    background-image: linear-gradient($background,$background-highlight);
    box-sizing: border-box;
    padding: 1em 5% 5% 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .ig-post {
        width: calc(50% - 0.125em);
        margin-bottom: 0.25em;
        overflow:hidden;
        .post-holder {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            img {
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                transform: scale(1.02);
                transition: transform 0.3s;
                object-fit: cover;
                &:hover {
                    transform: scale(1);
                }
            }
        }

    }

    @media screen and (min-width: $break-large)  {

        .ig-post {
            width: calc(25% - 0.25em);
        }

    }
}
