@import "./base/variables";
@import "./base/core";

section.hero {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8em 0 6em 0;
    overflow:hidden;
    background: $background;

    width: 100%;
    img.bg {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity:0.5;
    }
    img.logo {
        position: relative;
        width: 150vw;
        margin-bottom:2em;
        transform: translate(-40vw, 0);
        margin-top: 4em;
    }
    .copy {
        position: relative;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 {
            margin: 0.25em 0 0 0;
        }
        .ctas {
            button {
                display:inline-block;
                &:not(:last-child) {
                    margin-right:0.5em;
                }
            }
        }
        .scroll-arrow {
            display:none;
            margin-top:2em;
            animation-name: scrollBounce;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }
    }
    @media screen and (min-width: $break-large)  {
        flex-direction: row;
        justify-content: space-between;
        .logo {
            position:relative;
            width: 40%;
            img.logo {
                position: relative;
                top:0;
                left:0;
                width: 200%;
                transform: translateX(-40%);
            }
        }
        .copy {
            position: relative;
            width: 45%;
            margin-top: 1em;
            h1 {
                max-width: 700px;
            }
            .scroll-arrow {
                display:block;
            }
        }
    }
}

@keyframes scrollBounce {
  from {transform: translateY(10px)}
  to {transform: translateY(0)}
}



section.clients {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding:10em 5% 15em 5%;
  background-image:linear-gradient($background, $background-highlight);

  h5 {
      text-align: center;
      span {
          white-space: nowrap;
      }
  }

  .logos {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width:100%;

    .logo  {
      width: calc(50% - 2em);
      max-width: 250px;
      margin: 4em;
      display:flex;
      justify-content: center;
      align-items: flex-end;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}



section.selects-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 5%;


    background: $background-highlight;
    .selects-logo {
        margin:2em 0 1em 0;
        width: 80%;
        max-width: 400px;
    }
    img.platform {
        position:relative;
        margin:0 1em 0 0;
        width: auto;
        height: 20px;
        object-fit: contain;
    }
}

a.stations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 6em 0;
    overflow:hidden;

    img {
        &.bg {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            object-fit:cover;
            opacity:0.3;
            z-index:0;
            transform: scale(1.05);
            transition: transform 0.5s;
        }
        &.logo {
            position:relative;
            width: 80%;
            max-width: 400px;
            margin-bottom: 2em;
        }
    }
    p {
        text-align: center;
        width: 80%;
        max-width: 700px;
    }
    p, button, .logo { z-index: 4;}
    .platform {
            position:relative;
            margin:0 1em 0 0;
            width: auto;
            height: 20px;
            object-fit: contain;
    }

    &:hover {
        img.bg { transform: scale(1); }
        button {
            color: $primary-highlight;
            &:after {
                right: -15px;
                border-right: 2px solid $primary-highlight;
                border-bottom: 2px solid $primary-highlight;
            }
        }
    }

}
