@import "../base/variables";
@import "../base/core";


section.grid {
    background-image: linear-gradient($background,$background-highlight);
    padding-bottom:10em;
}

section.loader {
    position: relative;
    display: none;
    width: 100%;
    padding: 5%;
    text-align: center;
}
