@import "./base/variables";
@import "./base/core";

.tabs {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom:1px solid rgba(255,255,255,0.1);
    padding: 10em 0 0 0;
    margin: 0 5vw;
    list-style: none;
    @media screen and (max-width:510px) {
        overflow-x: scroll;
    }
    .tab {
        display: inline-block;
        list-style: none;
        padding:1em 1.5em;
        border-bottom:2px solid rgba(0,0,0,0);
        white-space: nowrap;
        &.active {
            border-bottom:2px solid $primary-highlight;
        }
    }
}

section.hero {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 5em;
  background-image: linear-gradient($background,$background-highlight);

  width: 100%;
  img.bg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:0.5;
  }
  .copy {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h3 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size:0.8em;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      color: $primary-highlight;
    }
    h1 {
      margin: 0.25em 0 0 0;
      @media screen and (max-width:$break-large) {
          font-size:1.5em;
      }
    }
    h4 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      span {
        display:inline;
        white-space: nowrap;
        &:not(:last-child) {
          padding-right: 1em;
          margin-right:1em;
          border-right: 1px solid $foreground;
        }
      }
    }
    p {
        width: 100%;
        max-width: 700px;
    }
  }

}


section.grid {
    // background:$background-highlight;
    background-image: linear-gradient($background,$background-highlight);
    padding-bottom:10em;
}
