{% import '_macros/_utils' as m_utils %}

{# Load CSS #}
{% includeCssFile "/css/pages/home.css" %}

{% extends "_layout" %}

{% block content %}

{% include "components/header" with { "clear" : false, "active" : "home" } %}


<section class="hero">
    <video class="bg" autoplay loop playsinline muted>
        <source src="/lib/vid/mcm-videobg-01.mp4" type="video/mp4">
        </source>
    </video>

    <img src="/lib/img/branding/mcm-icon.svg" class="logo">
    <h3>
        {{entry.headline}}<br>
        <div class="ctas">
            {% for button in entry.buttons.all() %}
            <a href="{{button.buttonLink}}">{{button.label}}</a>
            {% endfor %}
        </div>
    </h3>
</section>






<section class="services">

    <img src="lib/img/bg/services-home.jpg" class="bg">

    <div class="overview">
        <!-- <h4>{{entry.caption}}</h4>
        <h2>{{entry.leadText}}</h2>
        {{entry.body}} -->
        <h4>{{entry.caption}}</h4>
        <h2>{{entry.leadText}}</h2>
        {{entry.body}}
        <!-- <h2>—</h2> -->

        <div class="ctas hero-font">
            <a href="/services/" class="primary">Learn More</a>
            <a href="/work/" class="primary">Hear Examples</a>
        </div>
    </div>

    <div class="list">
        {% set categories = craft.categories().group('workCategories').all() %}
        {% for category in categories %}
            <a href="/work/{{category.slug != "remote-recording" ? category.slug : ""}}" class="service {{ cycle(['odd', 'even'], loop.index0) }}">
                <div class="title">
                    <img src="lib/img/icon-{{category.slug}}.svg" class="icon" /><h3>{{category.title}}</h3>
                </div>
            </a>
            {# {% if loop.index == 2 %}
                <div class="break"></div>
            {% endif %} #}
        {% endfor %}
    </div>
    

</section>






{% set spotifyParams = {
        url: 'https://api.spotify.com/v1/users/jdmcm/playlists?access_token=' ~ social.spotifyApiKey,
        type: 'json',
        element: 'items',
        cache: 60
    } %}
{% set spotifyFeed = craft.feedme.feed(spotifyParams) %}



<a href="https://open.spotify.com/user/{{social.spotifyHandle}}" target="_new" class="stations">

    <img src="/lib/img/mcm-selects-bg.jpg" class="bg">
    <img src="lib/img/mcm-radio-logo.svg" class="logo" />
    <p>Curated playlists crafted from tracks on heavy rotation at the studio.</p>
    <button class="text"><img src="/lib/img/logo-spotify.svg" class="platform">Listen on Spotify</button>

</a>



<section class="clients">

    <h5>Top Content Producers Trust <span>McM Sound</span></h5>
    <div class="logos">
        {% set clients = craft.entries.section('clients').level(1).all() %}
        {% for client in clients %}
        <div class="logo"><img src="{{client.logo.one().getUrl()}}"></div>
        {% endfor %}
    </div>


</section>



{% endblock %}