{% block content %}

<header>

    <div class="header-bg{% if clear %} clear{% endif %}"></div>

    <a href="/" class="logo outer-link"><img src="/lib/img/branding/mcm-icon.svg" class="logo"></a>

    {% set mainMenu = craft.entries.section('mainMenu').level(1).all() %}
    <ul class="nav">
        {% for section in mainMenu %}
            <a href="{{section.associatedSection.one().getUrl()}}" class="outer-link {%if active == section.title|lower %}active{% endif %}"><li>{{section.title}}</li></a>
        {% endfor %}
        <li class="contact"><a href="mailto:info@themcmsound.com" class="contact"><button class="secondary">Contact us</button></a></li>
    </ul>

    <div class="menu">
        <div class="line top"></div>
        <div class="line middle"></div>
        <div class="line bottom"></div>
    </div>

</header>

<!-- <div class="header-spacer"></div> -->

{% endblock %}
