<h2>{{entry.title}}</h2>


{% set vimeoVids = entry.vimeoUrl.all() %}
{% set qtVids = entry.quicktime.all() %}

{% if qtVids|length > 0 %}
    {% set totalVids = qtVids|length - 1 %}
    {% set vidGroup = qtVids %}
{% else %}
    {% set totalVids = vimeoVids|length - 1 %}
    {% set vidGroup = vimeoVids %}
{% endif %}

<div class="video-carousel" data-total="{{totalVids}}">
    {% for video in vidGroup %}
        <video class="video{{loop.index0}}" data-index="{{loop.index0}}" data-total="{{loop.length - 1}}" data-title="{{video.headline}}">
            <source src="{{qtVids|length > 0 ? video.getUrl() : video.vimeoUrl}}" type="video/mp4">
        </video>
    {% endfor %}

    {% if totalVids > 1 %}
        <div class="carousel-nav">
            <div class="nav-trigger p">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)" fill="white"
                        stroke="white">
                        <line fill="none" stroke-miterlimit="10" x1="22" y1="12" x2="2" y2="12" stroke-linecap="butt"></line>
                        <polyline fill="none" stroke="white" stroke-miterlimit="10" points="9,19 2,12 9,5 "></polyline>
                    </g>
                </svg>
            </div>
            <div class="nav-trigger n">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)" fill="white"
                        stroke="white">
                        <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12" stroke-linecap="butt"></line>
                        <polyline fill="none" stroke="white" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
                    </g>
                </svg>
            </div>
        </div>
    {% endif %}
</div>


<div class="details">
    <div class="vid-title"></div>
    <div class="count">
        {% if totalVids > 1 %}
            <span class="current">1</span>
            of
            <span class="total">{{totalVids}}</span>
        {% endif %}
    </div>
</div>